<div class="mt1">
  <h3>Material properties</h3>
  <table *ngIf="material" class="Tablemt">
    <tr>
      <th>name</th>
      <td>{{material.name}}</td>
    </tr>
    <tr>
      <th>description</th>
      <td> {{material.description}} </td>
    </tr>
    <tr>
      <th>type</th>
      <td>{{material.type}}</td>
    </tr>
    <tr>
      <th>sustainability</th>
      <td>{{material.sustainability}}</td>
    </tr>
    <tr>
      <th>harvest</th>
      <td>{{material.harvest}}</td>
    </tr>
    <tr>
      <th>companies</th>
      <td>{{material.companies}}</td>
    </tr>
    <tr>
      <th>extraInfo</th>
      <td>{{material.extraInfo}}</td>
    </tr>
  </table>
</div>
