<main id="main" *ngIf="design&&tokenId>0;else wait">
  <section  class="home" *ngIf="isClothing;else notClothing">

    <!--foto of the clothing-->
    <a [routerLink]= "'../../clothingInfo/'+tokenId"> <img  src="{{design.image}}" class="patagonia"> </a>
    <!--info of the design-->
    <a [routerLink]= "'../../design/'+tokenId"><img src="../../../assets/img/brand.png" class="brandimg"></a>
    <!--info of the material-->
    <a [routerLink]= "['../../material/'+tokenId]"><img src="../../../assets/img/material.png" class="materialimg"></a>
  </section>
</main>

<ng-template #wait>
  wait.......
</ng-template>
<ng-template #notClothing>
  your nft is not clothing
</ng-template>
<script src="scripts/script.js"></script>
