<main id="main">
  <section class="home">
    <img src="../../../assets/img/pata.vest.jpeg" class="patagonia">
    <a href="brand.html"><img src="../../../assets/img/brand.png" class="brandimg"></a>
    <a href="manufacturing.html"><img src="../../../assets/img/manufacturing.png" class="manufacturingimg"></a>
    <a href="materials.html"><img src="../../../assets/img/material.png" class="materialimg"></a>
  </section>
</main>


<footer>
  <a class="about">About This Project</a>
</footer>

<script src="scripts/script.js"></script>
